.matrix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.symbol {
    all: unset;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
}
