.symbol {
  all: unset;

  /* layout */
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;

  /* text */
  font-family: monospace;
  font-size: 16px;
  line-height: 16px;
  text-align: center;

  /* effects */
  color: rgba(42, 255, 42);
  text-shadow: 0 0 calc(16px / 4) rgba(42, 255, 42);
}

.leading-symbol {
  color: white;
}
