.symbol {
  all: unset;

  /* layout */
  display: block;
  overflow: hidden;
  position: absolute;

  /* text */
  font-family: monospace;
  text-align: center;

  /* effects */
  color: rgba(42, 255, 42);
  text-shadow: 0 0 calc(16px / 4) rgba(42, 255, 42);
  filter: opacity(1);
}

.symbol.fade-out {
  filter: opacity(0);
  transition-property: filter;
  transition-timing-function: linear;
  /* transition-duration is being set programmatically */
}

.symbol.leading {
  color: white !important;
}
