html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgb(42, 255, 42);
    overflow: hidden;
}

.matrix {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}

.symbol {
    display: block;
    position: relative;

    font-family: monospace;
    text-align: center;
    
    /* defaults. Will be set in Symbol.constructor() according to options.fontSize */
    font-size: 0.8em;
    height: 16px;
    line-height: 16px;
    width: 16px;

    margin: -0.3rem 0;
    text-shadow: 0 0 4px rgb(42, 255, 42), 0 0 8px rgb(42, 255, 42); /* @TODO: blur radius needs to be adapted to options.fontSize! */
}

.new-symbol {
    color: rgb(255, 255, 255);
}


/* DEBUG MODE */

.debug .symbol {
    border: 1px solid red;
}


/* FOOTER */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

    margin-bottom: -38px;
    transition-duration: 0.2s;
}

#hoover-area {
    /* 
     * creates an invisible area that
     * will reveal the footer on hover.
     */
    height: 8px;
    width: 100%;
    background:rgba(255, 0, 0, 0.0);
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0.5rem;

    background-color: rgba(255, 255, 255, 0.5);
}

#footer:hover {
    margin-bottom: 0;
}

#stats {
    font-size: 0.8rem;
    color: #000;
    vertical-align: baseline;
}

#controls { }
